/*--------------------
        RESET
--------------------*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------
      ALL DEBUG
--------------------*/

.debug .logo {
    border: 2px dashed black;
}

.debug .login {
    border: 2px dashed black;
}

.debug .nav-content {
    border: 2px dashed black;
}

.debug .pinkbox {
    border: 2px dashed black;
}


.debug .col-2 {
    border: 2px dashed black;
}

.debug .col-3 {
    border: 2px dashed black;
}


.debug .col-60 {
    border: 2px dashed black;
}

.debug .col-40 {
    border: 2px dashed black;
}

.debug .box1 {
    border: 2px dashed black;
}

.debug .boxgeneral {
    border: 2px dashed white;
}

.debug .allboxes {
    border: 2px dashed white;
}

.debug .lowpageelement {
    border: 2px dashed black;
}
/*--------------------
      HEAD
--------------------*/

.bghead {
    background-color: #ADD8E6;
}

.container {
    display: flex;
    max-width: 1180px;
    align-items: center;
    min-height: 60px;
    justify-content: space-around;
}

.logo {
    background-color: #DAA520;
    width: 25%;
    justify-content: flex-start;
}

.nav-content {
    background-color: #DAA520;
    width: 50%;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    background-color: #DAA520;
    width: 25%;
    justify-content: flex-end;
}

.mrgelement {
    padding: 6px 8px;
}

.pinkbox {
    display: flex;
    width: 700px;
    height: 300px;
    background-color: #EE82EE;
}

.downhead {
    background-color: #00008B;
    display: flex;
    min-height: 100px;
    padding: 40px;
    border-bottom: 3px solid #ADD8E6 ;
}

/*--------------------
      SECTION
--------------------*/

.container2 {
    background-color: #ffffff;
    display: flex;
    min-height: 400px;
    padding: 40px 0px;
    max-width: 1180px;
}

.col-60 {
    display: flex;
    width: 60%;
    background-color: #1E90FF;
}
.col-40 {
    display: flex;
    width: 40%;
    background-color: #FFC0CB;
}

.container3 {
    display: flex;
    min-height: 400px;
    padding: 40px 0px;
    max-width: 1180px;
    margin: 0 auto;
}

.bgc3 {
    background-color: #D3D3D3;;
}


.col-2 {
    display: flex;
    width: 40%;
    background-color: #1E90FF;
}
.col-3 {
    display: flex;
    width: 60%;
    background-color: #FFC0CB;
}

.greenbox {
    display: flex;
    width: 100%;
    background-color: #228B22;
    max-width: 1180px;
    min-height: 900px;
}

.lowwalpaperbox {
    
    background-color: #D3D3D3;
    display: flex;
    padding: 50px;
    /* border-bottom: 3px solid #ADD8E6 ; */
}

.lowpage {
    background-color: #23272A;
    justify-content: center;
    padding: 10px 0px 45px 0px;
    border-bottom: 3px solid white;
}

.allboxes {
    display: flex;
    min-height: 600px;
    max-width: 1180px;
    margin: 0 auto;
}

.box1 {
    display: flex;
    background-color: #F08080;
    width: 30%;
    /* max-width: 1180px;
    min-height: 900px; */
}

.boxgeneral {
    display: flex;
    width: 17.5%;
    background-color: #20B2AA;
}

.endpage {
    display: flex;
    background-color: #23272A;
    min-height: 100px;

   
}

.lowboxinside {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    background-color: #7FFFD4;
    margin-top: 30px;
    min-height: 80px;

}

.lowpageelement {
    display: flex;
    background-color: #FFB6C1;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 70px;
    flex-wrap: wrap;
}

.boxelement {
    display: flex;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
}